header {
  background-color: rgba(212, 213, 215, 0.449);
}
.headerLists {
  display: flex;
  justify-content: space-between;
}

.headerFlag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
#location {
  padding: 0;
  margin-left: 0;
}
